apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-notifications-cm
  namespace: argocd
data:
  service.webhook.kubeoncall: |
    url: $kubeoncall-change-event-url/api/integrations/change-events/argocd
    headers:
      - name: Authorization
        value: Bearer $kubeoncall-change-event-token
      - name: Content-Type
        value: application/json
      - name: X-ArgoCD-Event
        value: sync
  template.kubeoncall-change-event: |
    webhook:
      kubeoncall:
        method: POST
        body: |
          {
            "id": "{{.app.metadata.uid}}-{{.app.status.sync.revision}}",
            "eventType": "sync",
            "resourceType": "Application",
            "resourceName": "{{.app.metadata.name}}",
            "namespace": "{{.app.spec.destination.namespace}}",
            "cluster": "{{.app.spec.destination.server}}",
            "sha": "{{.app.status.sync.revision}}",
            "status": "{{.app.status.sync.status}}"
          }
  trigger.on-deployed: |
    - description: Application is synced and healthy
      oncePer: app.status.sync.revision
      send: [kubeoncall-change-event]
      when: app.status.operationState.phase in ['Succeeded'] and app.status.health.status == 'Healthy'
